	<div id = "connectPzh">
		<center> <p></p> </center>
		<table>
			<tr> <td> PZH Address: </td> <td><input type="text" id="pzh_ip_addr" value="pzh.webinos.org"/></td></tr>
			<tr> <td> PZH Port: </td> <td><input type="text" id="pzh_http_port" value="8000"/></td></tr>
		</table>
		<center> <button id="downloadCert" class="button"> Download Certificate </button> </center>
		
		<table>
			<tr> <td> PZH Address: </td> <td><input type="text" id="pzh_ip_addr" value="pzh.webinos.org"/></td></tr>
			<tr> <td> PZH Port: </td> <td><input type="text" id="pzh_port" value="8000"/></td></tr>
		</table>		
		<center> <button id="connectPZH" class="button"> Connect PZH </button> </center>

	</div>
