	
	<table>
		<tr> <td> PZH Address: </td> <td><input type="text" id="pzh_addr" value="pzh.webinos.org"/></td></tr>		
	</table>
	<center> <button id="downloadCert" class="button"> Download Certificate </button> </center>

	
