<!DOCTYPE html>
<html>
	<head>
		<title>PZH Administration Console</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/pzh.css" />
	</head>
	<body>
	<div id="main">
	    <h1>PZH Administration Console</h1>
		<% if (!user) { %>
			<p id="tablist" > |
			<a href="/">Home</a> | 
			<a class="account" href="/login">Log In</a> |
			</p>
		<% } else { %>
			<p id="tablist" > |
			<a href="/">Home</a> | 
			<a href="/zone">List zone devices</a> |
			<a href="/crashlog">View log</a> |
			<a href="/addpzp">Add a new PZP</a> |
			<a class="account" href="/account">Who am I?</a> | 
			<a class="account" href="/logout">Log Out</a> |
			</p>
		<% } %>
		<%- body %>
    
	<div id="status">STATUS: <span id="message"></span></div>
	</div>
	</body>
</html>
