<div id = "listAllPzps">
	<center> <p> List all of the PZPs in this zone </p> </center>
	<center>
		<table id="pzpList"> 			
		</table> 
	</center>
	<center> <button id="listAllPzpsButton" class="button"> List my PZPs  </button> </center>	
</div>
