    <div id = "listPzh">
		<center> <p> List running Pzh instances and connected Pzp Lists for each Pzh </p> </center>
		<center> 
			<table id="connectedList">
			<%
			
			var i =0;
			
			if (pzhList !== null) {
    			for (i=0; i<pzhList.length; i++) {
        			%> <td> <%= pzhList[i] %> </td> <%
    			}
			}
			
			if (pzpList !== null) {
			    for (i=0; i<pzpList.length; i++) {
        			%> <td> <%= pzpList[i] %> </td> <%
    			}
			}
                 
			%>			
			</table> 
			<p><%=pzpSessions %></p>
			
		</center>
		
	</div>
