<%

/*******************************************************************************
*  Code contributed to the webinos project
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
* 
*     http://www.apache.org/licenses/LICENSE-2.0
* 
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*******************************************************************************/

%>


<p>
    <a href="/auth/google">Sign in with Google</a>
</p>
<p>
    <a href="/auth/yahoo">Sign in with Yahoo!</a>
</p>
<p>
    <a href="/auth/google-ax">Sign in with Google and Attribute Exchange extension</a>
</p>
<p>
    <a href="/auth/yahoo-ax">Sign in with Yahoo! and Attribute Exchange extension</a>
</p>
