<div id = "pzhConfig">
	<center> <p> This values change less freq, change here if you want different values in certificate generated </p> </center>
	<table >
		<tr><th>Config </th> <th> Value </th> </tr>
		<tr><td>Country </td><td><input type="text" id="country" value="UK"/></td></tr>
		<tr><td>State</td><td> <input type="text" id="state" value="MX"/></td></tr>
		<tr><td>City </td><td><input type="text" id="city" value="ST"/></td></tr>
		<tr><td>Org </td><td><input type="text" id="org" value="Webinos"/></td></tr>
		<tr><td>OrgUnit </td><td><input type="text" id="orgunit" value="WP4"/></td> </tr>
		<tr><td>Email </td><td><input type="text" id="email" value="internal@webinos.org"/></td></tr>
		<tr><td>Days</td><td> <input type="text" id="days" value="180"/></td>	</tr>			
	</table>
</div>	
<div id = "pzh">
	<p align="right"> Help Available on Redmine to start PZH <a href="http://dev.webinos.org/redmine/projects/wp4/wiki/Running_PZH"> Running PZH </a>
	<center> <p style="color:white"> Multiple PZH can be initiated, used this tab for starting local PZH	</p> </center>

	<table >
		<tr><td>Common</td><td> <input type="text" id="common" value="WebinosLocalPZH" /> </td> </tr>
		<tr><td><i> (Info: This name should be different for each PZH)</i></td><td> </td></tr>
		<tr><td>Server Name </td><td><input type="text" id="servername" value="localhost"/></td></tr>
		<tr><td><i> (Info: This should be IP address on which PZH can be accessed via PZP) </i></td></tr>
		<tr><td>Server Port </td><td><input type="text" id="serverport" value="8000"/></td></tr>
		<tr><td><i> (Info: If already this port is in use, next available port will be used)</i></td></tr>			
	</table>
		<center> <button id="startPZH" class="button">Start PZH </button> </center>
</div>
