# ignore context db
Manager/Context/Storage/data/context.json

# ignore generated webinos.js
demo/client/webinos.js

# ignore eclipse project files
.project
.settings

# ignore generated certificates
*.pem
*.csr
*.srl

# ignore backup files
*~

# ignore waf lock files
.lock-wscript

#ignore build folders
build

#ignore target folders
target

#ignore reports folders
reports

#ignore modules for vehicle connection
webinos/api/vehicle/src/main/javascript/cds_con
webinos/api/vehicle/src/main/javascript/cds_con/car.js
webinos/api/vehicle/src/main/javascript/cds_con/jsonrpc.js 
node_modules
