# ignore context db
Manager/Context/Storage/data/context.json

# ignore eclipse project files
/.project
/.settings

# ignore generated certificates
*.pem

# ignore backup files
*~

# ignore waf lock files
.lock-wscript

#ignore build folders
build

#ignore target folders
target

#ignore reports folders
reports