html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
}

#map{
	width: 70%;
	height: 100%;
	float: left;
	position: relative;
}

#bc-full{
	position: relative;
	width: 30%;
	height: 100%;
	float: left;
	box-shadow: #000000 0px 0px 10px;
	background-color:  #585E59;
	background: url(rauschen.png), -moz-linear-gradient(top, #585E59, #363D38) ; 
	background:  url(rauschen.png), -webkit-gradient(linear, left top, left bottom, from(#585E59), to(#363D38)), url(rauschen.png); 
	background: url(rauschen.png), -webkit-linear-gradient(top, #585E59, #363D38); 
	background:  url(rauschen.png), -o-linear-gradient(top, #585E59, #363D38); 
	background:  url(rauschen.png), -ms-linear-gradient(top, #585E59, #363D38); 
	background:  url(rauschen.png), linear-gradient(top, #585E59, #363D38);

}

#logo{
	z-index: 200;
	position: fixed;
	top: -5px;
	left: 20px;
	width: 200px;
	height: 45px;
	background-color: #fff;
	box-shadow: #000000 0px 0px 10px;
	-moz-border-radius:4px; /* Firefox */
	-webkit-border-radius:4px; /* Safari, Chrome */
	-khtml-border-radius:4px; /* Konqueror */
	border-radius:4px; /* CSS3 */
}

#loading{
	z-index: 300;
	position: fixed;
	height: 50px;
	width: 400px;
	
	background-color: #000;
	-moz-border-radius:4px; /* Firefox */
	-webkit-border-radius:4px; /* Safari, Chrome */
	-khtml-border-radius:4px; /* Konqueror */
	border-radius:4px; /* CSS3 */
	
	left: 50%;
	margin-left: -200px;
	
	top: 50%;
	margin-top: -25px;
	
	opacity: 0.8;
}

#loadingimage{
	opacity: 1;
	padding-top: 7px;
	float: left;
}

#loadingstatus{
	float: left;
	padding-top: 10px;
	opacity: 1;
	color: #fff;
}

#debug{
	float: none;
	clear: both;
}



#bc-full ul {
	list-style: none;
	margin:0px;
	padding: 0px;
}

#bc-full li {
	border-bottom: 1px #CCC  dotted;
	height: 20%;
}

#bc-full li a, #bc-full li a:visited, #bc-full li a:link {
	color:auto;
	height: 100%;
	display:block;
	text-decoration:none;
	opacity: 1;
	text-shadow: #313131 1px 1px 2px;
	opacity: 1;
}

#bc-full li a:hover, 
#bc-full li a:focus {
	text-decoration:none;
	color:auto;
	opacity: 1;
	background-color: fff;
	outline:0;
}