html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
}

#map{
	width: 60%;
	height: 100%;
	float: left;
	position: relative;
}

#bc-nav{
	position: relative;
	width: 40%;
	height: 10%;
	float: left;
		/* fallback */
  background-color: #363D38;
  background-image: url(rauschen.png);
  
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: url(rauschen.png), -webkit-gradient(radial, center center, 0, center center, 460, from(#585E59), to(#363D38));
  
  /* Safari 5.1+, Chrome 10+ */
  background: url(rauschen.png), -webkit-radial-gradient(circle, #585E59, #363D38);
  
  /* Firefox 3.6+ */ 
  background: url(rauschen.png), -moz-radial-gradient(circle, #585E59, #363D38);
  
  /* IE 10 */ 
  background: url(rauschen.png), -ms-radial-gradient(circle, #585E59, #363D38);

	box-shadow: #000000 0px 0px 10px;
	z-index: 150;
}

#bc-full{
	position: relative;
	width: 40%;
	height: 90%;
	float: left;
	box-shadow: #000000 0px 0px 10px;
	background-color:  #585E59;
	z-index: 100;
	
	overflow: hidden;
	
	/* fallback */
  background-color: #363D38;
  background-image: url(rauschen.png);
  
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: url(rauschen.png), -webkit-gradient(radial, center center, 0, center center, 460, from(#585E59), to(#363D38));
  
  /* Safari 5.1+, Chrome 10+ */
  background: url(rauschen.png), -webkit-radial-gradient(circle, #585E59, #363D38);
  
  /* Firefox 3.6+ */ 
  background: url(rauschen.png), -moz-radial-gradient(circle, #585E59, #363D38);
  
  /* IE 10 */ 
  background: url(rauschen.png), -ms-radial-gradient(circle, #585E59, #363D38);
	

}

#logo{
	z-index: 200;
	position: fixed;
	top: -5px;
	left: 20px;
	width: 200px;
	height: 45px;
	background-color: #fff;
	box-shadow: #000000 0px 0px 10px;
	-moz-border-radius:4px; /* Firefox */
	-webkit-border-radius:4px; /* Safari, Chrome */
	-khtml-border-radius:4px; /* Konqueror */
	border-radius:4px; /* CSS3 */
}

#loading{
	z-index: 300;
	position: fixed;
	height: 50px;
	width: 400px;
	
	background-color: #000;
	-moz-border-radius:4px; /* Firefox */
	-webkit-border-radius:4px; /* Safari, Chrome */
	-khtml-border-radius:4px; /* Konqueror */
	border-radius:4px; /* CSS3 */
	
	left: 50%;
	margin-left: -200px;
	
	top: 50%;
	margin-top: -25px;
	
	opacity: 0.8;
}

#loadingimage{
	opacity: 1;
	padding-top: 7px;
	float: left;
}

#loadingstatus{
	float: left;
	padding-top: 10px;
	opacity: 1;
	color: #fff;
}

#debug{
	float: none;
	clear: both;
}



#bc-full ul {
	list-style: none;
	margin:0px;
	padding: 0px;
}

#bc-full li {
	border-bottom: 1px #CCC  dotted;
	height: 20%;
	max-height: 20%;

}

#bc-full li a, #bc-full li a:visited, #bc-full li a:link {
	color:auto;
	height: 100%;
	display:block;
	text-decoration:none;
	opacity: 1;
	text-shadow: #313131 1px 1px 2px;
	opacity: 1;
	color: #fff;
}

#bc-full li a:hover, 
#bc-full li a:focus {
	text-decoration:none;
	color:auto;
	opacity: 1;
	outline:0;
	color: #fff;
	 box-shadow: inset 0 0 15px #313131;
}

.propertybox{
	position: relative;
	height: 100%;	
}
.description{
	position: absolute;
	top: 6px;
	left: 6px;
	font-size: 18px;
	font-weight: normal;
}
.value{
	position: absolute;
	width: 60%;
	font-size: 40px;
	bottom: 2px;
	right: 20%;
	text-align: right;
	padding: 0px;
	margin: 0;
}
.unit{
	position: absolute;
	width: 16%;
	bottom: 6px;
	right: 2%;	
	margin: 0;
	padding: 0;
	color: #A8B3AA;
	text-align: left;
	opacity: 1.0;
	font-size: 18px;
	font-weight: normal;
}

#bc-nav ul {
	position: relative;
	float:left;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}



#bc-nav ul li {
	float:left;
	list-style:none;
	width: 25%;
	height: 100%;
	text-align: center;
	position: relative;
	font-weight: normal;
	text-shadow: #313131 1px 1px 2px;
}
#bc-nav ul li a:link, a:visited{
	position: relative;
	text-decoration:none;
	height: 100%;
	width: 100%;
	color:#fff;
	display: block;
	font-size: 20px;
}


#bc-nav ul li a:hover,
#bc-nav ul li a:focus {
	color:#fff;
	text-decoration:none;
	height: 100%;
	width: 100%;
	outline: 0;
	box-shadow: 0 0 10px #000000;
	font-weight: bold;
	color: yellow;
}

.toplevellink{
	position: relative;
	top: 30%;

}
